body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9ac4bf;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #7191e165;
    text-align: center;
    width: 92%;
    height: 85%;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.profile img{
    width: 70px;
    margin-bottom: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile p{
    margin: 0;
    color: #fff;
}

.profile h1{
    margin: 0;
    font-size: 24px;
}

.menu_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

.menu {
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu:hover {
    opacity: 0.8;
}

.account {
    background: linear-gradient(90deg,#0ad65f,#2407b6);
}

.budgeting{
    background: linear-gradient(90deg,#0ad65f,#2407b6);
}

.investments {
    background: linear-gradient(90deg,#0ad65f,#2407b6);
}

.reports {
    background: linear-gradient(90deg,#0ad65f,#2407b6);
}

.balance{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.balance h2{
    margin: 0;
    font-size: 24px;
}

.balance p{
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0 0;
    color: black;
}

.logout_btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #ef5350;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.logout_btn:hover{
    background-color: #d32f2f;
}